.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
i {
    float: right;
}
input {
    width: 60%;
}

@media only screen and (max-width: 425px){
    span {
        display: none;
    }

}

@media only screen and (max-width: 768px){
    i {
        float: left;
    }

    .bigicon {
        font-size: 20px;
        
    }

}

